@import '../../../../styles/colors.module.scss';

.title {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    width: 600px;
}
.description {
    color: $lightGray;
    font-size: 21px;
    width: 600px;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 10px;
    overflow: hidden; //different from the slides, in this one will not have a hover, to see the entire text it's needed to access
    text-overflow: clip;
}
.button {
    @extend .linkUnderline;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    padding: 10px 35px;
    &:hover {
        border-color: $lightRed;
        background-color: transparent;
        color: $lightGray;
    }
}
.buttonImg {
    width: 11px;
    padding: 0;
    margin: 0;
}
